/Home Work/10.11.2018/SalesSystem/nbproject/private/
/Home Work/11.11.2018/salesSystem/nbproject/private/
/Class Work/11.11.2018/SalesSystemO/nbproject/private/
/Home Work/11.11.2018/salesSystem/build/
/Home Work/16.11.2018/Example/nbproject/private/
/Home Work/16.11.2018/Example/build/
/Home Work/17.11.2018/InventoryManagement/nbproject/private/
/Home Work/17.11.2018/InventoryManagement/build/
/Home Work/18.11.2018/InventoryCalculation/nbproject/private/
/Home Work/18.11.2018/InventoryCalculation/build/
/Home Work/19.11.2018/Library_Management_Project/nbproject/private/
/Home Work/19.11.2018/Library_Management_Project/build/
/Home Work/19.11.2018/InventoryView/nbproject/private/
/Project/Library_Management/nbproject/private/
/Project/Library_Management/build/
/Project-2/Walida_Watch_Center/nbproject/private/
/Project-2/Walida_Watch_Center/build/
/Project-2/Watch_Shop/nbproject/private/
/Project-2/Watch_Shop/build/